extends layout

block content
    main(class="max-w-full ")
        div(class="image relative flex-col ")
            div(class=" flex")
                section(class="w-full xl:max-w-[30vw]")
                    div(class="w-full")
                        img(src="../../img/logo.png", alt="logo", class="w-[55%] lg:max-w-[30%] m-12 sm:w-1/3")
                div(class="w-full justify-center items-center h-auto")
                    h1(class="lg:ml-[22%] mt-[30%] lg:mt-[10%] text-4xl") O nás
            section(class="w-full sm:w-1/2 mx-auto flex-col justify-between mb-20 text-left bg-[#2F7282] shadow-black shadow-md rounded-md p-4 max-h-auto my-10")
                p(class="mb-2") Vítejte v našem prostoru vzdělávání a osobního rozvoje! Naše platforma vznikla z vášně a oddanosti k poskytování výjimečné vzdělávací zkušenosti.
                p(class="mb-2") Jsme tady, abychom propojili lidi s kvalifikovanými lektory a umožnili jim objevit nové obzory a dovednosti, které jim změní život. Co nás dělá jedinečnými?
                p(class="mb-2") Naše široká škála lektorů, kteří jsou experti ve svých oborech a mají bohaté zkušenosti v pedagogice a praktické aplikaci svých znalostí. 
                p(class="mb-2") Bez ohledu na to, jestli hledáte podporu ve studiu, jazykové dovednosti, osobní rozvoj nebo konkrétní odbornou oblast, máme pro vás toho pravého lektora.
                p(class="mb-2") Naše platforma není jen o online hodinách. Máme také možnost setkání osobně, protože věříme v sílu osobní interakce a přímé zpětné vazby.
                p(class="mb-2") Vaše zkušenost s námi je naší prioritou, a proto se snažíme poskytnout vám ty nejlepší prostředky a možnosti pro vaše učení a růst.
                p(class="mb-2") Připojte se k naší komunitě a začněte svou cestu k novým znalostem a úspěchům. Jsme tu pro vás, abychom vám pomohli dosáhnout vašich cílů a naplnit váš potenciál.

            //-footer
        footer(class="bg-[#2F7282] bg-opacity-60 text-white text-center py-4 mt-[5vh] bottom-0 w-full")
            img(src="../../img/logo.png", alt="logo" class=" w-2/12 lg:w-1/12 ml-4")
            div(class="text-right mr-7 mb-8")
                a(href="/" class="my-2 block") Domů
                a(href="/onas" class="my-2 block") O nás
                a(class="my-2 block") Kontakt
                a(href="/zasady" class="my-2 block") Zásady ochrany osobních údajů
            p(class="my-2") © 2024 Teacher digital Agency