doctype html
html(lang="cs")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/dist/output.css")
    //- přídat href pro icon
    link(rel="icon" type="image/x-icon" href="../public/img/logo.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#02384D")
    script(src="/scripts/showForm.js" defer) 
    script(src="/scripts/hiddenForm.js" defer) 
    script(src="/scripts/myDateTime.js" defer)
  body
    block content
