extends layout

block content
    main(class="max-w-full ")
        div(class="image relative flex-col ")
            div(class=" flex")
                section(class="sm:w-1/3 xl:max-w-[30vw] lg:w-full")
                    div(class="w-full")
                        img(src="../../img/logo.png", alt="logo", class="w-[55%] lg:max-w-[30%] m-12 sm:w-1/2")
                div(class="w-full justify-center items-center h-auto")
                    h1(class=" mt-[30%] lg:mt-[10%] text-4xl") Zásady ochrany osobních údajů
            section(class="w-full sm:w-1/2 mx-auto flex-col justify-between mb-20 text-left bg-[#2F7282] shadow-black shadow-md rounded-md p-4 max-h-auto my-10")
                p(class="mb-2") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque explicabo, voluptas inventore nulla eius veritatis? Excepturi voluptatum hic facilis deserunt, eos atque unde a incidunt. Veniam tenetur molestiae quam.
                p(class="mb-2") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque explicabo, voluptas inventore nulla eius veritatis? Excepturi voluptatum hic facilis deserunt, eos atque unde a incidunt. Veniam tenetur molestiae quam.
                p(class="mb-2") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque explicabo, voluptas inventore nulla eius veritatis? Excepturi voluptatum hic facilis deserunt, eos atque unde a incidunt. Veniam tenetur molestiae quam.
                p(class="mb-2") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque explicabo, voluptas inventore nulla eius veritatis? Excepturi voluptatum hic facilis deserunt, eos atque unde a incidunt. Veniam tenetur molestiae quam.
                p(class="mb-2") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque explicabo, voluptas inventore nulla eius veritatis? Excepturi voluptatum hic facilis deserunt, eos atque unde a incidunt. Veniam tenetur molestiae quam.
                p(class="mb-2") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque explicabo, voluptas inventore nulla eius veritatis? Excepturi voluptatum hic facilis deserunt, eos atque unde a incidunt. Veniam tenetur molestiae quam.
                p(class="mb-2") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque explicabo, voluptas inventore nulla eius veritatis? Excepturi voluptatum hic facilis deserunt, eos atque unde a incidunt. Veniam tenetur molestiae quam.
                p(class="mb-2") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque explicabo, voluptas inventore nulla eius veritatis? Excepturi voluptatum hic facilis deserunt, eos atque unde a incidunt. Veniam tenetur molestiae quam.
                p(class="mb-2") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque explicabo, voluptas inventore nulla eius veritatis? Excepturi voluptatum hic facilis deserunt, eos atque unde a incidunt. Veniam tenetur molestiae quam.
                p(class="mb-2") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque explicabo, voluptas inventore nulla eius veritatis? Excepturi voluptatum hic facilis deserunt, eos atque unde a incidunt. Veniam tenetur molestiae quam.
                p(class="mb-2") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque explicabo, voluptas inventore nulla eius veritatis? Excepturi voluptatum hic facilis deserunt, eos atque unde a incidunt. Veniam tenetur molestiae quam.
                p(class="mb-2") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque explicabo, voluptas inventore nulla eius veritatis? Excepturi voluptatum hic facilis deserunt, eos atque unde a incidunt. Veniam tenetur molestiae quam.


            //-footer
    footer(class="bg-[#2F7282] bg-opacity-60 text-white text-center py-4 mt-[5vh] bottom-0 w-full")
        img(src="../../img/logo.png", alt="logo" class=" w-2/12 lg:w-1/12 ml-4")
        div(class="text-right mr-7 mb-8")
            a(href="/" class="my-2 block") Domů
            a(href="/onas" class="my-2 block") O nás
            a(class="my-2 block") Kontakt
            a(href="/zasady" class="my-2 block") Zásady ochrany osobních údajů
        p(class="my-2") © 2024 Teacher digital Agency