extends layout

block content
  div(class="mt-36")
    div(class="flex justify-center items-center h-[50vh] flex-col")
      h1(class="text-center mt-8 mb-7 text-2xl") Vše proběhlo v pořádku, Vaše rezervace je rezervována
      img(src="../../../img/star.png", alt="Computer error" class="w-1/2 sm:w-1/5 mt-2")
    a(href="/" class="bg-[#74C7D3] h-9 w-[50%] rounded-lg mx-auto lg:w-[25%] text-center mt-6 flex justify-center items-center") Zpět na hlavní stránku</a>