*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
/* padding: 50px;*/
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #02384D;
}

p, h1{
  color: white;
}
/*checkbox*/
.container {
  font-weight: 500;
  border: 1px solid snow;
  border-radius: 10px;
  padding: 30px;
}
.title {
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;
}
.box {
  padding: 10px 0;
  border-bottom: 1px solid snow;
}
label {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}
.checkbox {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.print {
  font-size: 18px;
  padding: 10px 0;
}

/*price range*/
::selection{
  color: #fff;
  background: #74C7D3;
}
.wrapper{
 max-width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
}
.price-input{
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field{
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator{
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress{
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #74C7D3;
}
.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #74C7D3;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #74C7D3;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}